<div class="footer mt-4">
    <div class="container-md footer py-3 mt-3">
        <div class="row py-3 px-4">
            <div class="col-6 col-lg-3 text-center mt-3 mb-4">
                <h1>Strong Skills</h1>
                <ul class="ps-0">
                    <li class="list-group-item py-0">
                        <p>C++</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>HTML / CSS</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>SQL</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>R</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Angular</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Power BI</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Microsoft Excel</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>C#</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>ASP.NET</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Typscript</p>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 text-center mt-3 mb-4">
                <h1>Education</h1>
                <ul class="ps-0">
                    <li class="list-group-item py-0">
                        <p>B.S. Mathematics - Data Science</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Computer Science Minor</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>University of Houston</p>
                    </li>
                </ul>
                <h1>Certificates</h1>
                <ul class="ps-0">
                    <li class="list-group-item py-0">
                        <p>IBM Data Science Professional</p>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 text-center mt-3 mb-4">
                <h1>Courses Taken</h1>
                <ul class="ps-0">
                    <li class="list-group-item py-0">
                        <p>Data Science & Machine Learning</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Data Science & Statistical Learning</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Databse Systems</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Differential Equations</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Algorithms and Data Structure</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Programming and Data Structure</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p>Software Design</p>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 text-center mt-3 mb-4">
                <h1>Contact Me</h1>
                <ul class="ps-0">
                    <li class="list-group-item py-0">
                        <p><i class="bi bi-house-fill"></i> Houston, TX 77075</p>
                    </li>
                    <li class="list-group-item py-0">
                        <p><a href="tel:2812600800"><i class="bi bi-telephone-fill"></i> (832) 803-8061</a></p>
                    </li>
                    <li class="list-group-item py-0">
                        <p><i class="bi bi-envelope-fill"></i> MaxAlvarado401@gmail.com</p>
                    </li>
                    <li class="link list-group-item py-0">
                        <a class="nav-link" routerLink="/contact" class="mt-3">More info <i class="bi bi-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
