<div class="FS container text-center mt-5">
    <div class="row justify-content-center">
        <div class="sites col-12 mb-5">
            <h1>CHECK ORIGINAL DATASET USED <i class="bi bi-arrow-right-circle-fill"></i> <a target="_blank" href="https://www.kaggle.com/datasets/catherinerasgaitis/mxmh-survey-results"> Kraggle</a></h1>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Description</h2>
        </div>
        <div class="desc col-12 mb-4">
            <h3>A visual report using a real-life dataset to demostrate how music can affect a person's mental health, more specifically with ODC, Insomnia, Depression, and Anxiety.</h3>
            <h3>Dataset was collected through a survey of different ages asking questions about their music interests and their mental health.</h3>
            <h3>I cleaned the data, altered the dataset to be more readable in charts, and included filters and visualizations.</h3>
        </div>
        <div class="col-12">
            <iframe title="Report Section" width="1024" height="562" src="https://app.powerbi.com/view?r=eyJrIjoiZTUzZDJkMjYtNmJmYy00NmYxLWEyYTgtNTkyYzc1NGFhYWQ2IiwidCI6IjE3MGJiYWJkLWEyZjAtNGM5MC1hZDRiLTBlOGYwZjBjNDI1OSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>
