<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="name col-md-3 d-flex align-items-center mt-5">
            <img src="assets\images\max3.jpg" class="rounded center-block img-responsive" alt="">
        </div>
        <div class="name col-md-6">
            <div class="mt-5">
                <h1 class="my-5">I am Maximiliano Alvarado.</h1>
                <p>First-generation graduate from the University of Houston with a Bachelor of Science in Mathematics for Data Science and a minor in Computer Science. I bring a robust background in big data with specialized expertise in the automotive industry.</p>
                <p>I am proud of the experiences I acquired from the automotive industry and personal projects, building a foundation of skills in the data analytic, data management, and machine learning field.</p>
            </div>
        </div>
        <div class="col-12 text-center my-3">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#resumeModal">
                <p>CHECK MY RESUME <i class="bi bi-file-earmark-person-fill"></i></p>
            </button>
        </div>
        <div class="name col-md-6 mb-2 mt-0">
            <br>
            <p><u>Data Analyst</u> - Group 1 Automotive | Current</p> 
            <p style="padding-left: 20px;">- Currently serving as a Data Analyst with expertise in Qlik, where I manage large databases, perform in-depth data analysis, and create dynamic dashboards to support data-driven decisions across departments.</p>
            <p><u>Hollander Specialist</u> - America Auto & Truck | 4 Years</p>
            <p style="padding-left: 20px;">- Managed the Hollander inventory management software at a local automotive salvage yard, overseeing a complex database of automotive parts interconnected with local businesses and interchange systems. Developed skills in data management, operational efficiency, and system integration.</p>
        </div>
        <div class="name col-md-4 d-flex align-items-center justify-content-center">
            <img src="assets\images\max2.jpg" class="rounded center-block img-responsive" alt="">
        </div>
        <div class="name col-md-6 mb-5">
            <h1>Favorite Resources</h1>
            <h2 style="padding-left: 20px; color: var(--third-color)">Books:</h2>
            <p style="padding-left: 40px;"> - O'Reilly <u>Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow</u>: Concepts, Tools, and Techniques to Build Intelligent Systems by Aurelien Geron</p>
            <p style="padding-left: 40px;"> - <u>Machine Learning Simplified</u>: A Gentle Introduction to Supervised Learning by Andrew Wolf</p>
            <h2 style="padding-left: 20px; color: var(--third-color)">Youtubers:</h2>
            <p style="padding-left: 40px;"> - Daniel Bourke</p>
            <p style="padding-left: 40px;"> - Nicholas Renotte</p>
            <h2 style="padding-left: 20px; color: var(--third-color)">Trainings:</h2>
            <p style="padding-left: 40px;"> - Leetcode: Pandas, Python, and SQL practice problems</p>
            <p style="padding-left: 40px;"> - Coursera: IBM Data Science Courses, DeepLearning.AI Courses (In Progress)</p>
        </div>
    </div>
</div>

<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Maximiliano Alvarado's Resume</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\resume.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="download btn"><a href="assets\images\resume.pdf" download="Maximiliano Alvarado's Resume">Download</a></button>
            </div>
        </div>
    </div>
</div>
