<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="name col-md-3 d-flex align-items-center mt-5">
            <img src="assets\images\max3.jpg" class="rounded center-block img-responsive" alt="">
        </div>
        <div class="name col-md-6">
            <div class="mt-5">
                <h1 class="my-5">I am Maximiliano Alvarado.</h1>
                <p>Recent first-gen graduate at the University of Houston.</p>
                <p>I am a Hollander Specialist at a local automotive salvage yard, controlling an inventory management software that connects to a larger database system of automotive parts, other local businesses, and interchange lines.</p>
                <p>My background in managing, analyzing, and designing database systems allows me to organize and compile databases to help serve any business needs.</p>
                
            </div>
        </div>
        <div class="name col-md-6 mt-5">
            <br>
            <p>Ever since I was a kid, I always been curious about how everything around me works, which got me into being an automotive mechanic at a young age and then into programming later on.</p>
            <p>I am proud of the experiences I acquired from the automotive industry and personal projects, building a foundation of skills in the data analytic and management field.</p>
            <p>I hope to find an opportunity that will put my skills into use and improve the way data can affect a business' wants and needs.</p>
        </div>
        <div class="name col-md-4 d-flex align-items-center justify-content-center">
            <img src="assets\images\max2.jpg" class="rounded center-block img-responsive" alt="">
        </div>
        <div class="col-12 text-center mb-5">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#resumeModal">
                <p>CHECK MY RESUME <i class="bi bi-file-earmark-person-fill"></i></p>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Maximiliano Alvarado's Resume</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\resume.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="download btn"><a href="assets\images\resume.pdf" download="Maximiliano Alvarado's Resume">Download</a></button>
            </div>
        </div>
    </div>
</div>
