button p {
    display:inline-block;
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--third-color);
    padding: 16px;
    border-radius: 10px;
    margin: 0;
    &:hover {
        background-color: var(--primary-color);
    }
}

p {
    font-size: 18px;;
}

i {
    color: var(--secondary-color);
}

img {
    object-fit: scale-down;
    max-width: 100%
}

.name {
    min-height: 400px;
    max-height: 100%;
}

.modal-content {
    background-color: var(--secondary-color);

    .modal-title {
        color: var(--primary-color);
    }

    .modal-body .resume {
        height: 70vh;
        embed {
           height: 100%;
           width: 100%;
        }
    }
    .close {
        background-color: var(--primary-color);
        color: var(--secondary-color)
    }
    .download {
        background-color: var(--third-color);
        a {
            text-decoration: none;
            color: var(--secondary-color);
        }
    }
}