a {
    text-decoration: none;
    color: var(--secondary-color);
    &:hover {
        color: var(--primary-color);
    }
}

i {
    font-size: 20px;
    color: var(--secondary-color);
}

h1 {
    color: var(--third-color)
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    &:hover {
        background-color: var(--third-color);
    }
}