<div class="FS container text-center mt-5">
    <div class="row justify-content-evenly">
        <div class="sites col-12 mb-5">
            <h1>Check the github repository! <i class="bi bi-arrow-right-circle-fill"></i> <a target="_blank" href="https://github.com/MaxAlvarado1/ArtMuseum"> GitHub</a></h1>
            <p>Website is no longer is live.</p>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Description</h2>
        </div>
        <div class="desc col-12 mb-4">
            <h3>University collabrated project with 3 other team members. I was team leader overseeing everyone's work, making sure to be coordinating people's roles, assemble meetings, and build goals to reach deadlines.</h3>
            <h3>Project was a full-stack (frontend, backend, and database) web development focused a lot more on the functions of the databases system.</h3>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Database System</h2>
        </div>
        <div class="col-lg-2 mb-3">
            <h3>Tools used:</h3>
            <ul>
                <li>Microsoft SQL Server Management Studio</li>
                <li>Microsoft Azure</li>
                <li>ASP.NET</li>
            </ul>
        </div>
        <div class="col-lg-3 mb-3">
            <h3>Methods and Features:</h3>
            <ul>
                <li>Stored Procedures ONLY</li>
                <li>Triggers</li>
                <li>Data Entry Forms</li>
                <li>Entities and Relationships</li>
                <li>Data Reports</li>
                <li>Autorization Roles</li>
            </ul>
        </div>
        <div class="col-lg-7 mb-3">
            <h3>Schema:</h3>
            <img src="assets\images\Schema.jpg" alt="">
        </div>
        <div class="col-lg-3 mb-5">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#eModal">
                <p>MORE INFO ON ENTITIES</p>
            </button>
        </div>
        <div class="col-lg-4 mb-5">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#rModal">
                <p>MORE INFO ON RELATIONSHIPS</p>
            </button>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Front End - ASP.NET</h2>
        </div>
        <div class="col-lg-12 mb-3">
            <h4>All tables, entry forms, and logins pull from different data tables using SQL queries in stored procedures.</h4>
            <h4>Front end work is basic and simple, as the focus was more on the backend and creating a complex database system.</h4>
        </div>
        <div class="col-lg-6 mb-3">
            <h3>Admin's Dashboard:</h3>
            <ul>
                <li>Accessed through a secured login.</li>
                <li>Access to view, add, update, and delete most entities in the database system.</li>
                <li>Access to reports of the database, like revenue. Can't show in demo as it was linked to a google account no longer used.</li>
                <li class="my-4">Check this quick demo video.<video src="assets\images\AMAdm.mp4" class="my-2" controls></video></li>
            </ul>
        </div>
        <div class="col-lg-6 mb-3">
            <h3>Employee's Dashboard:</h3>
            <ul>
                <li>Accessed through a secured login.</li>
                <li>After given a shift from the admin, access to view shifts and request off.</li>
                <li class="my-4">Check this quick demo video.<video src="assets\images\AMEmp.mp4" class="my-2" controls></video></li>
            </ul>
        </div>
        <div class="col-lg-6 mb-3">
            <h3>Vistor's Dashboard:</h3>
            <ul>
                <li>Access to view most of the data tables.</li>
                <li>Can become a member or donator, buy memberships, and buy tickets. All which alter the database.</li>
                <li class="my-4">Check this quick demo video.<video src="assets\images\AMVis.mp4" class="my-2" controls></video></li>
            </ul>
        </div>
        <div class="col-lg-6 mb-5">
            <h3>Member's Dashboard:</h3>
            <ul>
                <li>Accessed through a secured login after registering with ID given after purchasing membership.</li>
                <li>Same as vistor dashboard, but tickets are now "free".</li>
                <li class="my-4">Check this quick demo video.<video src="assets\images\AMMem.mp4" class="my-2" controls></video></li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="eModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Entities</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\Entities.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Entities</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\Relation.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
