<div class="FS container text-center mt-5">
    <div class="row justify-content-center">
        <div class="sites col-12 mb-5">
            <h1 class="r">CHECK FINAL REPORT <i class="bi bi-arrow-right-circle-fill"></i> <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#rModal"> <p> Report</p></button></h1>
            <h2>CHECK ORIGINAL DATASET USED <i class="bi bi-arrow-right-circle-fill"></i> <a target="_blank" href="https://www.kaggle.com/datasets/murderaccountability/homicide-reports"> Kraggle</a></h2>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Description</h2>
        </div>
        <div class="desc col-12 mb-4">
            <h3>Collabrated analytical report of a real-life dataset using RStudio.</h3>
            <h3>Dataset was used to make models that had machine learning to predict if a victim was killed by a gun or not based on their case's variables.</h3>
        </div>
        <div class="col-12 mb-3">
            <h3>Process:</h3>
        </div>
        <div class="p col-sm-3 mb-3">
            <h4>Clean Data</h4>
        </div>
        <div class="col-sm-1 mb-3">
            <i class="bi bi-arrow-right"></i>
        </div>
        <div class="p col-sm-3 mb-3">
            <h4>Model Data With Different Methods</h4>
        </div>
        <div class="col-sm-1 mb-3">
            <i class="bi bi-arrow-right"></i>
        </div>
        <div class="p col-sm-3 mb-3">
            <h4>Visualize Models</h4>
        </div>
        <div class="col-sm-1 mb-3">
            <i class="bi bi-arrow-right"></i>
        </div>
        <div class="p col-sm-3 mb-3">
            <h4>Use Models To Predict If Victim Was Killed By A Gun</h4>
        </div>
        <div class="col-sm-1 mb-3">
            <i class="bi bi-arrow-right"></i>
        </div>
        <div class="p col-sm-3 mb-5">
            <h4>Find Misclassification Rates And Analysis Results</h4>
        </div>
        <div class="col-12"></div>
        <div class="col-lg-5 mb-3">
            <h3>Variables:</h3>
            <ul>
                <li>Victim.Sex - The victim’s reported sex</li> 
                <li>Victim.Age - The victim’s reported age</li>
                <li>Victim.Race - The victim’s reported race</li>
                <li>Perpetrator.Sex - The perpetrator’s reported sex</li>
                <li>Perpetrator.Age - The perpetrator’s reported age</li>
                <li>Perpetrator.Race - The perpetrator’s reported Race</li>
                <li>Relationship - Specifies what the relationship is between the victim and perpetrator if there is one. Could be spouse, parent, child, sibling, stranger, etc.</li>
                <li>Weapon - Specifies what the reported murder weapon in</li>
            </ul>
        </div>
        <div class="col-lg-5 mb-3">
            <h3>Models:</h3>
            <ul>
                <li>Logistical Regression</li> 
                <li>Decision Tree</li>
            </ul>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Conclusion</h2>
        </div>
        <div class="desc col-12 mb-4">
            <h3>With the classification tree, we see that two of the most important factors in predicting gun violence would be the victim’s age and sex. The two groups most at risk of victimization are males as well as people between 18-31 years old. For male victims, we see that they are less likely to be victimized by their spouse as they are by somebody with whom they have no intimate relationship with. While females are not as likely to be victimized, they are significantly more likely to be the victim of homicide by their spouse than by anybody else. However, this is more likely to be done through means other than a firearm. We can extrapolate from this that female homicide victims are largely the result of domestic violence. Males on the other hand make up a large majority of gun violence victimization by the hands of other males.<br/><br/>We  have observed a misclassification rate of about 30% that is consistent among both  models.</h3>
        </div>
        <div class="sites col-12 mb-5">
            <h1 class="r">CHECK FINAL REPORT <i class="bi bi-arrow-right-circle-fill"></i> <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#rModal"> <p> Report</p></button></h1>
            <h2>CHECK ORIGINAL DATASET USED <i class="bi bi-arrow-right-circle-fill"></i> <a target="_blank" href="https://www.kaggle.com/datasets/murderaccountability/homicide-reports"> Kraggle</a></h2>
        </div>
    </div>
</div>

<div class="modal fade" id="rModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Final Report</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\FinalReport.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

