<div class="FS container text-center mt-5">
    <div class="row justify-content-evenly">
        <div class="sites col-12 mb-5">
            <!--
            <h1>CHECK THE WEBSITE NOW! <i class="bi bi-arrow-right-circle-fill"></i> <a target="_blank" href="http://www.aldineamerica.com/"> www.AldineAmerica.com</a></h1>
            <h2>Or check the github repository <i class="bi bi-arrow-right-circle-fill"></i> <a target="_blank" href="https://github.com/MaxAlvarado1/AldineAmerica"> GitHub</a></h2>
            -->
            <h1>CHECK THE GITHUB REPOSITORY NOW! <i class="bi bi-arrow-right-circle-fill"></i> <a target="_blank" href="https://github.com/MaxAlvarado1/AldineAmerica"> GitHub</a></h1>
            <p>Website is no longer is live.</p>
            
        </div>
        <div class="col-12 text-start mb-3">
            <h2><u>Description</u></h2>
        </div>
        <div class="desc col-12 mb-4">
            <h3>A full-stack (frontend, backend, and database) web development for a local automotive salvage yard showcasing the yard's information and inventory.</h3>
            <h3>Inlcudes an Admin role, which can add, edit, and delete the yard's inventory database.</h3>
        </div>
        <div class="col-12 text-start mb-3">
            <h2><u>Front End</u> - Angular 15</h2>
        </div>
        <div class="col-lg-2 mb-3">
            <h3>Tools used:</h3>
            <ul>
                <li>Visual Studio Code</li>
                <li>Node.js</li>
            </ul>
        </div>
        <div class="col-lg-4 mb-3">
            <h3>Vistor's Dashboard:</h3>
            <ul>
                <li>Access to view the store's Inventory Database</li>
                <li>Access to Google Maps API to show store's location</li>
                <li>Easily navigate through store's information and parts' details.</li>
                <li class="my-4">Check this quick demo video.<video src="assets\images\vistorVid.mp4" class="my-2" controls></video></li>
            </ul>
        </div>
        <div class="col-lg-4 mb-5">
            <h3>Admin's Dashboard:</h3>
            <ul>
                <li>Accessed through a secured login.</li>
                <li>Access to view, add, edit, and delete the store's Inventory Database.</li>
                <li class="my-4">Check this quick demo video.<video src="assets\images\adminVid.mp4" class="my-2" controls></video></li>
            </ul>
        </div>
        <div class="col-12 text-start mb-3">
            <h2><u>Back End and Database System</u> - ASP.NET Web API and SQL Servers</h2>
        </div>
        <div class="col-lg-4 mb-3">
            <h3>Tools used:</h3>
            <ul>
                <li>Visual Studio</li>
                <li>POSTMAN</li>
                <li>Microsoft SQL Server Management Studio</li>
            </ul>
        </div>
        <div class="col-lg-8 mb-5">
            <h3>Methods:</h3>
            <ul>
                <li>HTTP Method Responses in JSON</li>
                <li>APIs: GET, POST, PUT, and DELETE</li>
                <li>API to upload photos</li>
                <li>Stored Procedures ONLY</li>
            </ul>
        </div>
        <div class="col-12 mb-5">
            <h2>Deployed and Published using Plesk Control Panel</h2>
        </div>
    </div>
</div>