* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #EBEBEB ;
    --secondary-color: #8AA399;
    --third-color: #f7adbe;
}

html, body {
    min-height: 100vh;
    font-family: 'Bakbak One', serif;
    background-color: var(--primary-color);
}